/* Reset básico */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    color: #333;
    height: 100vh; 
    overflow: hidden;
}

html {
    height: 100%; 
}

header {
    
    display: flex;
    justify-content: center; /* Espaça os elementos nos extremos */
    align-items: center;
    background-color: #202020;
    padding: 10px 20px; 
    height: 62px;
    width: 100%;
    box-sizing: border-box;
    
}

.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between; /* Espaço entre os elementos principais */
    height: 62px;
}

.nav-links {
    list-style: none; /* Remove marcadores */
    display: flex; 
    justify-content: center; /* Centraliza os links */
    align-items: center; 
    gap: 40px; 
    flex-grow: 1; 
    margin: 0; 
    padding: 0; 
}

.nav-links li a {
    text-decoration: none;
    color: #fff;
    font-size: 18px;
    transition: color 0.3s ease;
    
}

.nav-links li a:hover {
    color: #008000; 
}

 /* Botão do menu "hambúrguer" */
.hamburger-icon {
    background: none;
    border: none;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 30px;
    height: 25px;
    margin-left: 20px;
    position: absolute;
    right: 20px;
}

.hamburger-icon div {
    background-color: #fff;
    height: 3px;
    width: 100%;
    border-radius: 5px;
}

.logo-container {
    display: flex;
    align-items: center;
    gap: 10px; 
    position: absolute;
    left: 20px;
}

/* Estilo da logo */
.site-logo {
    height: 40px; 
    width: auto;
}

/* Estilo do título */
.site-title {
    font-size: 20px;
    font-weight: bold;
    color: #fff; 
}

nav ul {
    list-style-type: none;
    display: flex;
    align-items: center; 
    gap: 40px;
}

nav ul li a {
    text-decoration: none;
    color: #fff;
    font-size: 18px;
    transition: color 0.3s ease;
}

nav ul li a img{
    vertical-align: middle;
}

nav ul li a:hover {
    color: #008000;
}

.news-item {
    margin-bottom: 20px;
    padding: 0; 
    border: none; 
    background-color:linear-gradient(to bottom, #202020, #2c2c2c); 
    box-shadow: none; /* Caso tenha sombras, será removido */
}

#news-history {
    background-color: transparent; 
    padding: 0; 
    margin: 0; 
}

.news-image {
    width: 100%;
    height: auto;
    max-height: 200px; 
    object-fit: cover; 
    background-color: #2c2c2c; 
    border: none; 
    border-radius: 10px; 
}

.news-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
}

.news-title {
    font-size: 18px;
    font-weight: bold;
    color: #1ea8a0;
    margin: 0;
}

.news-source {
    font-size: 14px;
    color: #007bff;
    text-decoration: none;
    font-weight: bold;
}

.news-source:hover {
    text-decoration: underline;
}

.news-summary {
    font-size: 16px;
    color: #008000;
    margin-bottom: 10px;
}

.news-details {
    flex: 1;
}

.news-link {
    color: #008000;
    text-decoration: none;
    font-weight: bold;
    display: inline-block;
    margin-top: 5px;
}

.news-link:hover {
    text-decoration: underline;
}

.news-meta {
    font-size: 14px;
    color: #777;
    text-align: left;
}

.lat-long-container {
    display: flex;
    gap: 8px;
    align-items: baseline;
}

.lat-long-container label {
    display: flex;
    align-items: center;
    white-space: nowrap; /* Faz com que o texto não quebre linha */
}

.required-star {
    color: red !important;
    font-weight: bold;
    margin-left: 2px;
}

/* Estilo para o efeito de carregamento */
#mapa.loading {
    position: relative;
    filter: blur(2px); /* Desfoca o mapa enquanto carrega */
    pointer-events: none; /* Desativa interações enquanto carrega */
}

/* Seção do spinner */
#mapa.loading::after {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    width: 50px;
    height: 50px;
    border: 5px solid rgba(0, 128, 0, 0.3); 
    border-top-color: #008000; 
    border-radius: 50%;
    animation: spin 1s linear infinite; /* Animação de giro */
    transform: translate(-50%, -50%);
    z-index: 1000; /* Garante o spinner acima do mapa */
}

/* Animação do spinner */
@keyframes spin {
    from {
        transform: translate(-50%, -50%) rotate(0deg);
    }
    to {
        transform: translate(-50%, -50%) rotate(360deg);
    }
}

#mapa {
    position: relative;
    height: calc(100vh - 62px); /* Preenche o espaço restante da tela após o cabeçalho */
    width: 100vw; 
    margin: 0;
    padding: 0;
    z-index: 1;
    overflow: hidden;
}

#form-section {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #fff;
    padding: 30px;
    border: 1px solid #ccc;
    border-radius: 10px; 
    box-shadow: 0 4px 12px rgba(0,0,0,0.15);
    z-index: 1000;
    width: 40%;
    max-width: 500px;
    max-height: 90vh;
    overflow-y: auto;
}

/* Ajuste para os campos do formulário */
form input[type="text"],
form input[type="url"],
form input[type="file"],
form input[type="number"],
form textarea {
    width: 100%;
    padding: 8px 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px; 
    font-size: 16px;
    box-sizing: border-box; 
    transition: border-color 0.3s ease; 
}

/* Ajuste específico para o textarea */
form textarea {
    resize: vertical;  /* Permite o redimensionamento vertical */
    height: 100px;
}

#mapa.blur-background {
    filter: blur(5px);
    transition: filter 0.3s ease-in-out;
}

button[type="submit"] {
    width: 100%;
    padding: 12px;
    background-color: #008000;  
    color: #fff;
    border: none;
    border-radius: 5px;  
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s ease;
}

button[type="submit"]:hover {
    background-color: #006400; 
}

/* Ajuste para o título do formulário */
#form-section h2 {
    text-align: center;
    color: #202020;
    font-size: 24px;
    margin-bottom: 20px;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none; /* Remove as setas em outros navegadores */
    margin: 0; 
}

input[type="number"] {
    -moz-appearance: textfield; /* Remove as setas no Firefox */
}

.close-drawer {
    position: absolute;
    top: 10px;
    right: 10px;
    background: none;
    border: none;
    font-size: 24px;
    color: #008000;
    cursor: pointer;
    transition: color 0.3s ease;
}

.close-button {
    position: absolute;
    top: 10px;
    right: 10px;
    background: none;
    border: none;
    font-size: 24px;
    color: black;
    cursor: pointer;
    transition: color 0.3s ease;
}

.close-button:hover {
    color: #ff0000;
}

h2 {
    text-align: center;
    color: #202020;
}

.drawer {
    position: fixed;
    top: 0;
    right: -300px;
    height: 100%;
    width: 300px;
    background: linear-gradient(to bottom, #202020, #2c2c2c); 
    box-shadow: -5px 0 15px rgba(0, 0, 0, 0.5); 
    color: white;
    z-index: 2000;
    transition: right 0.4s cubic-bezier(0.25, 0.8, 0.25, 1); 
    overflow-y: auto;
    padding: 20px;
    border-radius: 10px 0 0 10px; 
}

.drawer.open {
    right: 0;
}

.drawer h3 {
    margin-top: 20px;
    font-size: 20px;
    font-weight: bold;
    color: #008000;   
    padding-bottom: 5px;
}

#news-history {
    list-style-type: none;
    padding: 0;
    margin: 20px 0 0;
}

#news-history li {
    margin: 10px 0;
    padding: 10px;
    background: #333333;
    border-radius: 8px;
    color: white;
    transition: transform 0.3s ease, background-color 0.3s ease;
}

#news-history li:hover {
    transform: scale(1.02); /* Quando passamos o mouse em cima da notícia, ela fica um pouco maior */
    background-color: #444444;
}

#filter-news-button {
    background-color: #008000;
    color: white;
    border: none;
    padding: 10px;
    font-size: 16px;
    border-radius: 8px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    width: 100%;
}

#datepicker {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #008000;
    border-radius: 8px;
    margin-bottom: 15px;
    background-color: #2c2c2c;
    color: white;
    outline: none;
}

/* Estilizar o botão do dropdown */
.dropbtn {
    background-color: #202020;
    border: none;
    cursor: pointer;
    padding: 10px;
    border-radius: 5px;
}

.dropbtn:hover {
    background-color: #006400;
}

/* Dropdown escondido */
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 200px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    padding: 10px;
}

.dropdown-content h3 {
    margin-top: 0;
}

.meses h4 {
    margin-bottom: 5px;
}

.dias {
    list-style: none;
    padding: 0;
}

.dias li {
    padding: 5px 0;
}

.show-dropdown {
    display: block;
}

#lista-noticias {
    list-style-type: none;
    padding: 0;
    margin: 20px 0 0 0;
}

#lista-noticias li {
    padding: 10px;
    border-bottom: 1px solid #ddd;
    font-size: 14px;
}

#lista-noticias li:last-child {
    border-bottom: none;
}

/* Estilizar o campo de data e o botão de filtro */
#filter-news-form {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

#filter-news-form input[type="date"],
#filter-news-form button {
    padding: 10px;
    font-size: 14px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

#filter-news-form button {
    background-color: #008000;
    color: white;
    cursor: pointer;
}

#filter-news-form button:hover {
    background-color: #006400;
}

/* Mostra o dropdown quando o ícone é clicado */
#calendar-icon:hover + .dropdown-content,
#calendar-icon:focus + .dropdown-content {
    display: block;
    position: absolute;
}

form input[type="number"] {
    width: 100%;
    padding: 8px 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
    box-sizing: border-box;
}

.drawer-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
}

.refresh-button {
    position: relative;
    border: none;
    background: none;
    cursor: pointer;
    padding: 0;
    margin-left: 10px; /* Ajustado para que o botão fique ao lado do título */
}

.refresh-button img {
    width: 20px; 
    height: 20px;
    transition: transform 0.2s ease;
}

.refresh-button:hover img {
    transform: rotate(90deg); /* Animação ao passar o mouse */
}

/* Estilo para o spinner do drawer */
.spinner {
    margin-left: 5px;
    display: inline-block;
    width: 20px;
    height: 20px;
    border: 2px solid #ccc; 
    border-top: 2px solid #4caf50; 
    border-radius: 50%;
    animation: spin 0.8s linear infinite;
}

/* Animação de rotação */
@keyframes spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

.date-duration-container {
    display: flex;
    flex-direction: column;
    gap: 15px; 
    margin-bottom: 20px;
}

.date-duration-container .field {
    display: flex;
    flex-direction: column;
}

.date-duration-container label {
    font-size: 16px;
    color: #202020; 
    margin-bottom: 5px; 
    font-weight: bold;
}

.date-duration-container input[type="number"],
.date-duration-container input[type="date"] {
    width: 100%;
    padding: 10px;
    font-size: 14px;
    border: 1px solid #ccc;
    border-radius: 5px;
    outline: none;
    transition: border-color 0.3s ease-in-out;
}

.date-duration-container input[type="date"] {
    background-color: #fff;
    color: #333;
    font-size: 16px;
    cursor: pointer;
}

.date-duration-container input:focus {
    border-color: #008000; 
    box-shadow: 0 0 5px rgba(0, 128, 0, 0.5); 
}

form input[type="text"],
form input[type="url"],
form input[type="file"],
form input[type="number"],
form input[type="date"],
form textarea {
    width: 100%;
    padding: 8px 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
    box-sizing: border-box;
    transition: border-color 0.3s ease-in-out;
    background-color: #fff; 
    color: #333; 
}

form input[type="text"]:focus,
form input[type="url"]:focus,
form input[type="file"]:focus,
form input[type="number"]:focus,
form input[type="date"]:focus,
form textarea:focus {
    border-color: #008000; 
    box-shadow: 0 0 5px rgba(0, 128, 0, 0.5); 
}

/* Alinhamento consistente dos labels */
form label {
    font-size: 16px;
    color: #202020;
    font-weight: bold;
    display: block;
}

.icon-selection {
    display: flex; /* Alinha os ícones horizontalmente */
    gap: 10px; 
    justify-content: center; 
    margin: 15px 0;
}