<!DOCTYPE html>
<html lang="pt-BR">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>GeoFeed</title>
    <link rel="stylesheet" href="{% static 'styles.css' %}">
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.7.1/dist/leaflet.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/leaflet.markercluster/1.5.3/MarkerCluster.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/leaflet.markercluster/1.5.3/MarkerCluster.Default.css" />
    <script src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/leaflet.markercluster/1.5.3/leaflet.markercluster.js"></script>
    <script src="{% static 'scripts.js' %}"></script>
</head>
<body>
    <header>
        <nav class="navbar">
            <div class="logo-container">
                <img src="{% static 'imgs/logo.png' %}" alt="Logo GeoFeed" class="site-logo">
                <span class="site-title">GeoFeed</span>
            </div>
            <ul class="nav-links">
                <li><a href="#mapa">Mapa</a></li>
                <li><a href="#" id="toggle-news">Adicionar Notícia</a></li>
                <li><a href="{% url 'contato' %}">Contato</a></li>
            </ul>
            <button id="toggle-drawer" class="hamburger-icon">
                <div></div>
                <div></div>
                <div></div>
            </button>
        </nav>
    </header>     

    <main id="content">
        <!-- Mapa -->
        <div id="mapa"></div>

        <!-- Formulário para adicionar notícias -->
        <section id="form-section">
            <h2>Adicionar Notícia</h2>
            <button id="close-form" class="close-button">&times;</button>
            <form method="POST" enctype="multipart/form-data">
                {% csrf_token %}
                
                <label for="id_titulo">Título: <span style="color: red;">*</span></label>
                {{ form.titulo }}
                
                <label for="id_resumo">Resumo: <span style="color: red;">*</span></label>
                {{ form.resumo }}
                
                <label for="id_imagem">Imagem:</label>
                {{ form.imagem }}
                
                <label for="id_link">Link: <span style="color: red;">*</span></label>
                {{ form.link }}
            
                <div class="date-duration-container">
                    <!-- Campo Data -->
                    <div class="field">
                        <label for="id_data">Data: <span style="color: red;">*</span></label>
                        {{ form.data }}
                    </div>
                    <!-- Campo Duração -->
                    <div class="field">
                        <label for="id_duracao">Duração (em dias): <span style="color: red;">*</span></label>
                        <input type="number" name="duracao" id="id_duracao" min="1" placeholder="Digite a duração ou deixe em branco para indeterminado">
                    </div>
                </div>
            
                <div class="lat-long-container">
                    <div class="field">
                        <label for="id_latitude">Latitude: <span class="required-star">*</span></label>
                        <input type="number" name="latitude" step="any" id="id_latitude" placeholder="Ex: -20.789">
                    </div>
                    
                    <div class="field">
                        <label for="id_longitude">Longitude: <span class="required-star">*</span></label>
                        <input type="number" name="longitude" step="any" id="id_longitude" placeholder="Ex: -51.700">
                    </div>
                </div>
                
                <label for="icone">Escolha o ícone: <span style="color: red;">*</span></label>
                <div class="icon-selection">
                    <input type="radio" id="car-icon" name="icone" value="carIcon" checked>
                    <label for="car-icon">
                        <img src="{% static 'imgs/icon1.png' %}" alt="Ícone de Carro" width="40">
                    </label>
            
                    <input type="radio" id="theater-icon" name="icone" value="theaterIcon">
                    <label for="theater-icon">
                        <img src="{% static 'imgs/icon2.png' %}" alt="Ícone Teatro" width="40">
                    </label>
            
                    <input type="radio" id="location-icon" name="icone" value="locationIcon">
                    <label for="location-icon">
                        <img src="{% static 'imgs/icon3.png' %}" alt="Ícone Localização" width="40">
                    </label>
                    
                    <input type="radio" id="home-icon" name="icone" value="homeIcon">
                    <label for="home-icon">
                        <img src="{% static 'imgs/icon4.png' %}" alt="Ícone de Casa" width="40">
                    </label>
                </div>
                <button type="submit">Adicionar Notícia</button>
            </form>
        </section>

        <!-- Drawer -->
        <div id="drawer" class="drawer">
            <button id="close-drawer" class="close-drawer">&times;</button>
            <h3>Filtrar Notícias</h3>
            <input type="date" id="datepicker" min="2024-01-01" max="2124-12-31" />
            <button id="filter-news-button">Filtrar</button>
            <div class="news-header">
                <h3>Últimas Notícias</h3>
                <button id="refresh-news" class="refresh-button">
                    <img src="{% static 'imgs/refresh-ccw-svgrepo-com.svg' %}" alt="Refresh">
                </button>
                <span id="loading-spinner" class="spinner" style="display: none;"></span>
            </div>
            <ul id="news-history">
                <!-- Notícias carregadas dinamicamente aqui -->
            </ul>
        </div>
    </main>

    <div vw class="enabled">
        <div vw-access-button class="active"></div>
        <div vw-plugin-wrapper>
          <div class="vw-plugin-top-wrapper"></div>
        </div>
      </div>
      <script src="https://vlibras.gov.br/app/vlibras-plugin.js"></script>
      <script>
        new window.VLibras.Widget('https://vlibras.gov.br/app');
      </script>
</body>
</html>